
.container {
    max-width: 360px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.agregar-tarea {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
}
.agregar-tarea input[type="text"] {
    flex: 1;
    margin-right: 16px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-left:3px solid #8d7373;
    border-right:3px solid #5a4848;
    
}
.agregar-tarea i {
    font-size:medium;
    color: #888;
    cursor: pointer;
}

#elemento .co,
#elemento .de {
    display: none;
}
#elemento:hover .co,
#elemento:hover .de {
    display: block;
}
